{% extends "base.html" %}

{% load static %}


{% block title %}
Profil de {{ object.username }}
{% endblock title %}

{% block content %}

<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h1>{{ object.username }}</h1>

      {% if object.name %}
      <p>{{ object.name }}</p>
      {% endif %}

      {% if object.bio %}
      <p><i>{{ object.bio|linebreaksbr }}</i></p>
      {% endif %}

    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">
      mes infos
    </a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">
      mon mail
    </a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}

</div>
{% endblock content %}

